.touchpoint { 
  height: 69vh;
  overflow-x: scroll;

  @include breakpoint-up(medium){
    height: 63vh;
  }

  &__general {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2px;
    margin-top: 0.625rem;
    margin-bottom: 3.125rem;

    @include breakpoint-down(medium){
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 1.125rem;
    }    
  }

  &__header {
  
  }

  &__tags {
    padding: 0 20%;

    @include breakpoint-down(medium){
      margin-top: 2.5rem;
      padding: 0;
    } 

    &-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 2px;

      @include breakpoint-down(medium){
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 1.125rem;
      }         
    }

    &-section {
      text-align: center;
      &--team-header, &--tier-header, &--alignment-header {
        font-size: 0.60rem;
        padding-top: 0.75rem;
        text-transform: uppercase;
        letter-spacing: $mazda-header-letter-spacing;
        color: $light-gray;
      }

      &--team-text, &--tier-text, &--alignment-text {
        font-size: 0.85rem;
        padding-top: 0.25rem;
        padding-bottom: 0.8rem;
        text-transform: uppercase;
        letter-spacing: $mazda-header-letter-spacing;
        color: $dark-black;  
      }
    } 
  }
  &__name {
    background-color: $dark-black;

    &--header { 
      font-size: 0.60rem;
      padding-top: 0.75rem;
      padding-left: 0.75rem;
      text-transform: uppercase;
      letter-spacing: $mazda-header-letter-spacing;
      color: $very-light-gray;
    }

    &--text {
      font-size: 1rem;
      padding-top: 0.75rem;
      padding-left: 0.75rem;
      padding-bottom: 0.5rem;
      text-transform: uppercase;
      letter-spacing: $mazda-header-letter-spacing;
      color: $very-light-gray;      
    }
    
  }

  &__brand {
    background-color: $darkish-gray;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 2px;

    &--header, &--journeyheader { 
      font-size: 0.60rem;
      padding-top: 0.75rem;
      padding-left: 0.75rem;
      text-transform: uppercase;
      letter-spacing: $mazda-header-letter-spacing;
      color: $very-light-gray;
    }

    &--text, &--journeytext {
      font-size: 0.85rem;
      padding-top: 0.25rem;
      padding-left: 0.75rem;
      padding-bottom: 0.8rem;
      text-transform: uppercase;
      letter-spacing: $mazda-header-letter-spacing;
      color: $very-light-gray;      
    }     
  }


  &__customer {
    background-color: $white;

    &--header { 
      font-size: 0.60rem;
      padding-top: 0.75rem;
      padding-left: 0.75rem;
      padding-bottom: 0.5rem;
      text-transform: uppercase;
      letter-spacing: $mazda-header-letter-spacing;
      color: $dark-gray;
    }

    &--text {
      font-size: 0.8rem;
      padding-top: 0.25rem;
      padding-left: 0.75rem;
      padding-bottom: 0.8rem;
      color: $dark-gray;      
    }     
  }
}