// Colors
$darkBlue: hsl(233, 26%, 24%);
$white: hsl(0, 0%, 100%);

$dark-black:hsl(0,0%,6.3%); //#101010
$header-copy:hsl(0,0%,90.6%); //#E7E7E7hsla(0, 0%, 17%, 1)
$body-color: hsl(0,0%,96.1%); //#F5F5F5
//----- GRAYS 
$very-light-gray: hsl(0, 0%, 91%);
$lighter-gray: hsl(0, 0%, 77%);
$light-gray: hsl(0, 0%, 50%); //#808080
$darkish-gray: 	hsl(0, 0%, 35%);
$dark-gray: hsl(0, 0%, 23%); //#3B3B3B
$darker-gray: 	hsl(0, 0%, 17%); //#303030 //for headers
$darkest-gray: hsl(0, 0%, 13%); //#242414
$darkester-gray: hsl(0, 0%, 7%); //#121212


// Font Sizes
$font-sm: 0.750rem; // 14px
$font-med: 1.125rem; // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

//Mazda Fonts Styles
$mazda-header-letter-spacing: 1.56px;